:root{
    --cor-branco: #ffffff;
    --cor-preto: #4f4f4f;
    --cor-principal: #000000;
    --cor-cinza-claro: #fdfafa;
}

:root {
    --gradient-titulo: linear-gradient(
        to top,
        rgba(140, 140, 140, 0.499), rgba(20, 20, 20, 0.937),  rgba(28, 28, 28, 0.937));
}